@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedan+SC&display=swap');

@font-face {
    font-family: ZT Talk;
    src: url(fontes/ZTTalk-Bold.ttf) format(truetype);
}

:root {
    --cor0:#035AA6 ;
    --cor1:#023059 ;
    --cor2:#05AFF2 ;
    --cor3:#403F3F ;

    --fonte01:"Bebas Neue", sans-serif;
    --fonte02: "ZT Talk" , sans-serif;
}

body{
    background-image: linear-gradient(to right,#05AFF2, #023059);
}

header {
    background-color: var(--cor3);
    margin-top: -9px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 370px;
}

header img {
    max-width: 200px;
    height:200px;
    padding-bottom: 40px;
    width: auto;
}


nav { 
    padding: 5px;
    background-color: var(--cor0);
    min-width: 370px;
    box-shadow: 0px 0px 4px black;
}

nav > a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    transition-duration: .5s;
    font-weight: bold;
}

nav > a:hover  {
    text-decoration: underline;
    background-color: var(--cor2);
    color:var(--cor1);
}


a:hover  {
    text-decoration: underline;
}

a#zap {
    text-decoration: none;
}

a#zap:hover {
    text-decoration: underline;
}

a#insta {
    text-decoration: none;
}

a#insta:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

mark {
    background-color: var(--cor2);
}
main {
    background-color: white;
    min-width: 370pxpx;
    max-width: 1000px ;
    padding: 20px ;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.803);
    
}


main img {
    width: 100%;
    
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}


main h1 {
    text-align: center;
   font-size: 45px;
   margin-left: -15px;
   margin-right: -15px;
   margin-top: 0px;
   margin-bottom: 10px;
   font-family: var(--fonte01);
   background-image: linear-gradient(to right,transparent,#035AA6 ,#05AFF2 ,transparent );
padding-top:8px ;

}

main h2 {
    margin-left: -58px;
   margin-right: -19px;
   margin-top: 0px;
   margin-bottom: 10px;
   font-family: var(--fonte01);
   background-image: linear-gradient(to right,rgb(180, 175, 175) , #403F3F  );
   padding-top:5px ; 
   padding-left: 5px;
   
}

main p#ilustrativa {
    text-align: right;
}

main p#home {
    text-align: justify;
    font-family: var(--fonte02);
}


section#curiosidade > h1 {
   text-align: center;
   font-size: 45px;
   margin-left: -15px;
   margin-right: -15px;
   margin-top: 0px;
   margin-bottom: 10px;
   font-family: var(--fonte01);
   background-image: linear-gradient(to right,transparent,#035AA6, #05AFF2 , transparent );
padding-top:8px ;
}

section#curiosidade > p {
    text-align: justify;
    font-family:var(--fonte02)
}

section#profissional > h2 {
    text-align: center;
    margin-left: -15px;
   margin-right: -15px;
   margin-top: 0px;
   margin-bottom: 10px;
   font-family: var(--fonte01);
   background-image: linear-gradient(to right,transparent,#035AA6, #05AFF2 , transparent );
   padding-top:5px ;

}

section#profissional > p {
    text-align: justify;
    font-family:var(--fonte02)
}

section#contato > h1 {
    font-size:160%;
    text-align: center;
    color: #00E676;
    text-shadow: 1px 0px 0px rgb(0, 0, 0);
    margin-top: 0%;
    margin-bottom: 15px;
} 

section#contato > h2 {
    font-size:160%;
    text-align: center;
    text-shadow: 1px 0px 0px rgb(0, 0, 0);
    color: #CD2D86;
    margin-top: 0%;
    margin-bottom: 15px;
}

footer {
    background-color: var(--cor3);
    margin-bottom: -9px;
    height: 165px;
    min-width: 370px;
}

footer > p {
    color: white;
    padding-top: 8px;
    margin-left: 7px;
    text-align: justify;
    padding-right: 7px;
    font-size: small;
}

ol {
    list-style-type: none;
}